<template name="deleteModal">
  <div class="ui basic modal" id="deleteBonModal">
    <div class="ui icon header">
      <i class="trash icon"></i>
      Voulez-vous effacer ce bon ?
    </div>
    <div class="content centerThis">
      <p>
        Il sera définitivement effacé immédiatement.
      </p>
    </div>
    <div class="actions centerThis">
      <div class="ui basic cancel inverted large button">
        <i class="undo icon"></i>
        ANNULER
      </div>
      <div class="ui red ok inverted large button">
        <i class="trash icon"></i>
        EFFACER
      </div>
    </div>
  </div>
</template>
