<template name="donor">
  {{> bon values=bonData label="Donneur"}}
  <div class="ui {{ isDark }} padded center aligned segment">
    {{#unless bonData.donorStatus}}
    <button class="ui large donorAction red button {{ isDark }}" id="refused">
      REFUSER CE BON
    </button>
    <button
      class="ui large donorAction green button {{ isDark }}"
      id="accepted"
    >
      ACCEPTER CE BON
    </button>
    {{else}}
    {{#unless bonData.codeCreated}}
    <div class="ui divided relaxed large list">
      <div class="item">
        <i class="{{statusIcon bonData.donorStatus}} icon"></i>
        <div class="content">
          {{statusText bonData.donorStatus 'donneur (vous)'}}
        </div>
      </div>
      {{#if bonData.receiverStatus}}
      <div class="item">
        {{#if eq  bonData.receiverStatus 'refused'}}
        <div class="right floated content">
          <button class="ui {{ isDark }} red compact small icon button">
            <i class="trash icon deleteBon"></i>
          </button>
        </div>
        {{/if}}
        <i class="{{statusIcon bonData.receiverStatus}} icon"></i>
        <div class="content">
          {{statusText bonData.receiverStatus 'receveur'}}
        </div>
      </div>
      {{else}}
      <div class="item">
        <i class="clock icon"></i>
        <div class="content">
          En attente de validation du receveur
        </div>
      </div>
      {{/if}}
    </div>
    {{#if eq  bonData.receiverStatus 'accepted'}}
    <h3 class="ui header">
      Maintenant vous devez rencontrer le receveur receveuse pour voir le code
      de validation apparaitre et lui transmettre
    </h3>
    {{/if}}
    {{else}}
    {{#unless bonData.done}}
    <div class="ui {{ isDark }} statistic">
      <div class="label">CODE DE VALIDATION</div>
      <div class="value">{{ bonData.code }}</div>
    </div>
    <br />
    <button class="ui {{ isDark }} button" id="recode">
      REGÉNERER LE CODE
    </button>
    {{else}}
    <h3 class="ui icon header">
      <i class="flag checkered icon"></i>
      <div class="content">
        L'ÉCHANGE EST TERMINÉ
      </div>
    </h3>
    <div class="ui divider"></div>
    <button class="ui {{ isDark }} red icon button deleteBon">
      <i class="trash icon"></i>
    </button>
    {{/unless}}
    {{/unless}}
    {{/unless}}
  </div>
  {{> deleteModal}}
</template>
