<template name="footer">
  <div class="ui bottom fixed mini borderless {{ isDark }} menu">
    <div class="ui container">
      <div class="left menu">
        <a
          class="item"
          href="https://slides.com/guidouil/bonpour/fullscreen"
          target="_blank"
        >
          <i class="help icon"></i>
          &nbsp;&nbsp;A propos
        </a>
        <a
          class="header item"
          href="https://github.com/guidouil/bonpour.fr"
          target="_blank"
        >
          <i class="code icon"></i>
          &nbsp;&nbsp;code source
        </a>
      </div>
      <div class="right menu">
        <a class="item" href="/stats">
          π
        </a>
      </div>
    </div>
  </div>
</template>
